/* App */

.app {
  background-color: #16181d; /* #282c34;*/
}

/* Start Page */

.startPage {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  max-width: 1000px;
}

.startPageTitle {
  padding-top: 40px;
  font-weight: bold;
  font-size: 90px;
}

.startPageSubtitle {
  font-size: 30px;
  height: 30px;
  line-height: 30px;
}

.startPageSceneContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 0;
  margin-top: 30px;
  position: relative;
}

.startPageScene {
  background-color: #b3b3b3;
  display: grid;
  height: 280px;
  background-size: 100%;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0.8;
}

.startPageScene:hover {
  opacity: 1;
}

.startPageSceneLabel {
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  background-color: rgb(22, 24, 29, 0.6);
}

.startPageFooter {
  margin-top: 30px;
  font-size: 20px;
  color: #8c8c8c;
}

.startPageFooterLink:visited,
.startPageFooterLink:link {
  color: #8c8c8c;
}
.startPageFooterLink:hover {
  color: #bfbfbf;
}
.startPageFooterLink:active {
  color: #98b6e6;
}

/* Page */

.page {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
}

.infoBarContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background-color: rgb(22, 24, 29, 0.6);
  width: 100%;
}

.infoBarParagraph {
  padding: 0;
  margin: 0;
  line-height: 60px;
}

/* Parallax */

.parallax {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.parallaxElement {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  top: -25px !important;
  left: -20px !important;
  margin-right: auto;
  margin-left: auto;
}
