/* App */

.app {
  background-color: #16181d; /* #282c34;*/
}

/* Start Page */

.startPage {
  background-color: white;
  color: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px 20px;
  height: 40px;
  line-height: 40px;
}

.startPageTitle {
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
}

/* Page */

.page {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
}

.infoBarContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background-color: rgb(22, 24, 29, 0.6);
  width: 100%;
}

.infoBarParagraph {
  padding: 0;
  margin: 0;
  line-height: 60px;
}

/* Parallax */

.parallax {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.parallaxElement {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  top: -25px !important;
  left: -20px !important;
  margin-right: auto;
  margin-left: auto;
}

.arcticHenge-arch1 {
  background-image: url("images/arcticHenge/arch1.png");
}

.arcticHenge-arch2 {
  background-image: url("images/arcticHenge/arch2.png");
}

.arcticHenge-background {
  background-image: url("images/arcticHenge/background.png");
}

.arcticHenge-foreground {
  background-image: url("images/arcticHenge/foreground.png");
}

.montserrat-background {
  background-image: url("images/montserrat/background.png");
}

.montserrat-hills {
  background-image: url("images/montserrat/hills.png");
}

.montserrat-pillars {
  background-image: url("images/montserrat/pillars.png");
}

.montserrat-railing {
  background-image: url("images/montserrat/railing.png");
}

.skye-background {
  background-image: url("images/skye/background.png");
}

.skye-beach {
  background-image: url("images/skye/beach.png");
}

.skye-foreground {
  background-image: url("images/skye/foreground.png");
}

.skye-hill1 {
  background-image: url("images/skye/hill1.png");
}

.skye-hill2 {
  background-image: url("images/skye/hill2.png");
}
