.App {
  text-align: center;
}

.ParallaxImage {
  height: 600px;
  width: 600px;
  background-color: #282c34;
  border-radius: 25px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
