/* App */

.app {
  background-color: #16181d; /* #282c34;*/
}

/* Header */

.header {
  background-color: white;
  color: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px 20px;
  height: 40px;
  line-height: 40px;
}

.headerTitle {
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
}

/* Page */

.page {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.pageMetaBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.pageMetaInfo {
  padding: 0;
  margin: 0;
  line-height: 60px;
}

/* Parallax */

.parallax {
  background-image: url("arcticHenge/original.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  margin-right: auto;
  margin-left: auto;
}

.parallaxElement {
  background-repeat: no-repeat;
  background-size: 100%;
}

.arcticHenge-background {
  background-image: url("arcticHenge/background.png");
}

.arcticHenge-arch2 {
  background-image: url("arcticHenge/arch2.png");
}

.arcticHenge-arch1 {
  background-image: url("arcticHenge/arch1.png");
}

.arcticHenge-foreground {
  background-image: url("arcticHenge/foreground.png");
}
